<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
			<div class="front">
				<%= image_tag 'dwflip.jpg', width: 320, height: 427, alt: 'a face that is unnervingly happy'%>
			</div>
			<div class="back" style="background:#f8f8f8;">
				<div class="back-logo"></div>
				<div class="back-title">Beer</div>
				<p>Buy this beer.  Honey &amp; Hops.  German style kolsch, 5% ABV.</p>
			</div>
		</div>
		</div>
  </body>
</html>